Materials/
data/
pickled_datasets/
logger.log
.env
.xdash
*.xlsx
*.csv
environment.yml
experiment_errors.log
#
Vishwani Dev/Task1/__pycache__/
Vishwani Dev/Task1/event_based/__pycache__/
Vishwani Dev/Task1/event_based/time_series_features/__pycache__/
# add __pycache__ after the directory is updated!
Vishwani Dev/Task2/__pycache__/
Vishwani Dev/Task2/event_based/__pycache__/
Vishwani Dev/Task2/event_based/time_series_features/__pycache__/
Vishwani Dev/Task2/plots/__pycache__/
Vishwani Dev/Task2/scripts/__pycache__/
#
Vishwani Dev/Task3/__pycache__/
Vishwani Dev/Task3/event_based/__pycache__/
Vishwani Dev/Task3/event_based/time_series_features/__pycache__/
#
Vishwani Dev/Task4/__pycache__/
Vishwani Dev/Task4/event_based/__pycache__/
Vishwani Dev/Task4/event_based/time_series_features/__pycache__/
#
Vishwani Dev/Task5/__pycache__/
Vishwani Dev/Task5/event_based/__pycache__/
Vishwani Dev/Task5/event_based/time_series_features/__pycache__/
#
Vishwani Dev/Task6/__pycache__/
Vishwani Dev/Task6/event_based/__pycache__/
Vishwani Dev/Task6/event_based/time_series_features/__pycache__/
#
Vishwani Dev/ALLTASKS/__pycache__/
Vishwani Dev/ALLTASKS/event_based/__pycache__/
Vishwani Dev/ALLTASKS/event_based/time_series_features/__pycache__/
