.xdash/
Materials/
data/
# add __pycache__ after the directory is updated!
Vishwani Dev/Task2/__pycache__/
Vishwani Dev/Task2/event_based/__pycache__/
Vishwani Dev/Task2/plots/__pycache__/
pickled_datasets/
logger.log
.env
.xdash